*{
    margin: 0;
    padding: 0;
}
div {
    background-color: bisque;
    display: grid;
    /*grid-template-columns:1fr  2fr1f */
    grid-template-columns: 1fr 2fr21fr;
    gap: 15%;
    text-align: center;
    padding: 3px;
    position: relative;
    left: 50px;
    top: 15px;
}

.main{
    
}