* {
    margin: 0;
    padding: 0;
}


.coluna{
    display: block;
}
.linha{
    display: inline;
}
.linha-coluna {
    display: inline-block;
}
div{
    margin-top: 50px;
}
p {
    background-color:black;
    color: white;
    width: 20px;

    margin: 10px;
    padding: 25px;
    text-align: center;,
    align-items: center;
}   

.flex{
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 212, 218);
    flex-direction: initial;
    justify-content: space-evenly;
    j
}